.container {
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin-bottom:px;
    text-align: center;
    color: rgb(238, 38, 38);
    font-weight: bold;
    width: 100%;
    background-color: rgb(41, 133, 175);
}
.container1 > div:nth-child(1){
    background:rgb(167, 159, 159);
    margin-top: 80px;
    margin-bottom: 100px;
    size: 100%;
    border-radius: 15px;
}
.container1 > div:nth-child(2){
    background:rgb(167, 159, 159);
    size: 100px;
    margin-bottom: 150px;
    margin-top: 80px;
    border-radius:15px;
}

h1{
    font-weight: bolder;
    font-size: 50px;
    color: darkred;
    font-family: cursive;
    text-shadow:1px 1px 2px white;
}

.head{
    font-variant-numeric:tabular-nums;
    font-style: italic;
    color: rgb(12, 12, 12);
    font-color: rgb(201, 9, 9);
}
input{
    font-size: 30px;
    border-radius: 12px;
}
container1{
    border-radius: 200px;
}


